#projects {
	padding-bottom: 200px;
	p {
		margin: 0;
	}
	.header {
		text-align: center;
		font-size: 40px;
		font-weight: 700;
		margin-top: 100px;
	}

	.words {
		text-align: center;
		font-family: $serif;
		font-size: 16px;
	}

	.name {
		margin-top: 10px;
		font-size: 20px;
		font-weight: 600;
	}

	.description {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	background-color: white;
	.logo {
		height: 150px;
	}
	.project_list {
		list-style-type: none;
		text-align: center;
		margin-top: 50px;
	}
}

